amqp==5.3.1
anyio==4.15.1
asgiref==3.12.1
attrs==26.1.0
billiard==4.2.4
celery==5.3.4
certifi==2026.7.22
channels==4.3.2
charset-normalizer==3.5.1
click==8.5.0
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
croniter==6.0.0
django==4.2.7
django-cors-headers==4.3.1
django-filter==23.5
django-simpleui==2025.6.24
djangorestframework==3.14.0
djangorestframework-simplejwt==5.5.1
drf-spectacular==0.27.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.19
inflection==0.5.1
iniconfig==2.3.0
jsonpath-ng==1.7.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kombu==5.6.2
packaging==26.3
pillow==12.1.0
pluggy==1.6.0
ply==3.11
portalocker==2.10.1
prompt-toolkit==3.0.53
psutil==7.2.1
pygments==2.21.0
pyjwt==2.14.0
pymysql==1.1.0
pytest==8.4.1
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2026.3.post1
pywin32==312
pyyaml==6.0.3
redis==5.0.1
referencing==0.37.0
requests==2.32.4
rpds-py==2026.6.3
six==1.17.0
sqlparse==0.6.0
typing-extensions==4.16.0
tzdata==2026.4
uritemplate==4.2.0
urllib3==2.7.0
vine==5.1.0
wcwidth==0.8.3
